<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Success</title>
  <link rel="stylesheet" href="/css/success_error.css" />
</head>

<body>
  <div class="container">
    <div class="message success">
      <h2>Success!</h2>
      <h3>Your operation was successful.</h3>
      <%= message %>
      <a href="<%= prevUrl %>">Go back</a>
    </div>
  </div>
</body>

</html>